@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

:root{
    --cor1: #323232;
    --cor2: #0d1c32;
    --cor3: #ffffff;
}

body{
    width: 100%;
    height: 100%;
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--cor2);
}

main > .containerForm >  h1{
    padding: 10px;
    text-align: center;
    text-shadow: 2px 0px 1px black;
}

main > .containerForm{
    padding: 10px;
    background-color: var(--cor1);
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
}

main > .containerForm > #formulario > .campoForm,
main > .containerForm > #formulario > .converter > .campoForm{
    text-align: center;
    margin: 10px auto;
    padding: 10px;
    background-color: var(--cor1);
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
}

main > .containerForm > #formulario > .converter > .campoForm h2{
    text-shadow: 2px 0px 1px black;
}

main > .containerForm > #formulario > .campoForm #valor,
main > .containerForm > #formulario > .converter > .campoForm > select {
    background-color: var(--cor3);
    color: black;
    border-radius: 10px;
    margin: 10px 0px;
    padding-left: 5px;
    font-weight: 900;
    border: 1px solid black;
}

main > .containerForm > #formulario > .campoForm > .container-resultado{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor3);
    margin: 5px auto;
    border-radius: 10px;
}

main > .containerForm > #formulario > .campoForm > .container-resultado > #resultado{
    color: black;
    font-weight: bold;
}


main > .containerForm > #formulario > .converter > .campoForm > select:hover{
    cursor: pointer;
}

main > .containerForm > #formulario > .converter > .campoForm > select > option{
    background-color: #161616;
    color: white;
    font-weight: bold;
}

main > .containerForm > #formulario > .campoformBotao{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

main > .containerForm > #formulario > .campoformBotao #botaoForm{
    display: block;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    background-color: black;
    box-shadow: 0px 0px 3px var(--cor1);
}

main > .containerForm > #formulario > .campoformBotao #botaoForm:hover{
    background-color: var(--cor1);
    border: 3px solid white;
    box-shadow: none;
    text-shadow: 2px 0px 1px black;
    cursor: pointer;
}

footer{
    width: 100%;
    background-color: black;
    text-align: center;
    padding: 10px 0px;
    font-size: 15px;
}

footer > p{
    padding: 5px;
}

footer > p > a{
    text-decoration: none;
}

footer > p > a:hover{
    text-decoration: underline;
}